PREDICT_SERVER=https://predict-server.testnet.mystenlabs.com
POLYMARKET_CLOB=https://clob.polymarket.com
SUI_RPC=https://fullnode.testnet.sui.io
PREDICT_PKG=0xCHANGE_ME
PREDICT_OBJECT=0xCHANGE_ME
DUSDC_TYPE=0xCHANGE_ME::dusdc::DUSDC

DRY_RUN=true
MIN_EDGE_VOL=0.04
POLL_MS=15000
BANKROLL_USDC=1000
MAX_DAILY_LOSS_USDC=200
KILL_FILE=/tmp/predict-vol-arb.kill

DASHBOARD_PORT=3097
DB_PATH=vol-arb.db
